#form_chamado{
    font-size: 2.2em;
    padding: 45px;
    
}

form textarea {
    margin-top: 25px;
    height: 15em;
    width: 47em;
}

form p {
    margin-top: 10px;
    margin-bottom: 10px;
}

form input {
    height: 6em;
    width: 47em;
}

.botao_enviar{
    border: 3px solid black;
    font-size: 1.4em;
    width: 12em;
    height: 1.6em;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #0ba2f1;
}

@media(max-width: 887px) {
    form textarea {
        margin-top: 25px;
        height: 15em;
        width: 28em;
    }
    
    form input {
        height: 6em;
        width: 28em;
    }

    .botao_enviar{
        border: 3px solid black;
        font-size: 1.4em;
        width: 7em;
        height: 1.6em;
        margin-left: 14px;
        margin-top: 15px;
        border-radius: 15px;
        background-color: #0ba2f1;
    }
    
}