.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 55px;
    gap: 55px;
   
    
    
}

.card {
    border: 1px solid black;
    transition: 0.3s;
    height: 280px;
    width: 470px;
    text-align: left;
    background-color: #ccc;
    font-size: 1.3em;
    margin: auto;
    color: black;
}

.card p{
    padding: 10px;
    margin-top: 7px;
}

.card img {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 150px;
    width: 270px;
}



.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards img {  
    float: right;
    margin-right: 25px;
    width: 65px;
    height: 55px;
}

.cards button{
    float: right;
    border: none;
    background-color: #ccc;
    margin-top: -12px;
}
section {
    min-height: 100vh;
}

.link_grupo {
    text-align: center;
    font-size: 55px;
    margin-top: 10%;
}

.link_grupo a{
    color: black;
    background-color: #0ba2f1;
    -webkit-border-radius:  20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 15px 20px;
    text-decoration: none;
    
}

.link_grupo a:hover {
    background-color: whitesmoke;
    color: #0ba2f1;
    }