
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}


.menu {
    display: flex;
    justify-content: space-around;
    vertical-align: top;
    padding: 15px;
    border-bottom: solid 3px black;
    box-sizing: content-box;
   
}

.menu li {
    display: inline-block;
    
}


.menu a {
    text-decoration: none;
    color: black;
    font-size: 3em;
    margin-right: 15px;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
}

.menu a:hover {
    color: #0ba2f1;
    transition: 400ms all ease-in;

}

.menu img {
    padding-top: 8px;
}



@media(max-width: 1587px) {
    .menu a{
        font-size: 2.8em;
    } 

    .menu img {
        width: 60%;
    }

}

@media(max-width: 1465px) {
    .menu{
        display: flex;
        justify-content: space-between;
    }
    .menu a{
        font-size: 2em;
    } 

    .menu img {
        width: 200px;
    }

}





@media(max-width: 1155px) {
    .menu{
        display: flex;
        flex-direction: column;  
        text-align: center; 
        gap: 25px;
    }

    .menu a{
        font-size: 2.6em;
        margin-top: 25px;
        
    
    } 

    .menu img {
        width: 250px;
    }


    
@media(max-width: 555px) {
    .menu{
        display: flex;
        flex-direction: column;  
        text-align: center; 
        gap: 25px;
    }

    .menu a{
        font-size: 1.8em;
        margin-top: 25px;
        
    
    } 

    .menu img {
        width: 180px;
    }
    

}
}